body{
    background-image: url("../img/bg_cirugico.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}
.container{
    background-color: #fff;
    border-radius: 20px;
    padding: 16px;
    
}
h1{
    text-align: center;
}