body{
    background-image: url("../img/bg_cirugico.jpeg");
    background-repeat: no-repeat;
    background-size: cover;
    display: flex;
    justify-content: center;
    align-items: center;
}

.container{
    width: 100%;
    max-width: 1350px;
    background-color: #fff;
    height: 300px;
    padding: 16px;
    height: auto;
}
.first-line{
    display: grid;
    grid-template-columns: 2fr 1fr 1fr; 
    grid-gap: 10px;
    margin-bottom: 16px;
}
.first-line input, select{
    height: 40px;
}
.seconde-line{
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-gap:10px;
    margin-bottom: 16px;
}